<hr>
<h2 style="color:#ae5a41;">Creation Dataframes</h2>
<hr>
<h4 style="color:#ae5a41;">0 - Creation Dataframe Initial</h4>
<hr>
METTRE LES SOURCES DES CSV

In [1]:
# Import des librairies utiles
import pandas as pd

# Convertion en dataframe des fichiers sources csv
whr21 = pd.read_csv('world-happiness-report-2021.csv')
whr = pd.read_csv('world-happiness-report.csv')

# Pré-traitement du dataframe
## Incorporation de la variable region dans le dataset
region_map=whr21[['Country name','Regional indicator']]
whr=whr.merge(region_map,on='Country name',how='left')

print("Pays avec Region manquante:",whr[whr['Regional indicator'].isna()]['Country name'].unique()) # soit ça soit rien
print("\nListe des Region:",whr['Regional indicator'].unique()) # soit ça soit rien

## Definition d'un dictionnaire avec les pays dont les regions sont maquantes
region_indic={'Angola':'Sub-Saharan Africa', 'Belize':'Latin America and Caribbean',
              'Bhutan':'South Asia', 'Central African Republic':'Sub-Saharan Africa',
              'Congo (Kinshasa)':'Sub-Saharan Africa', 'Cuba':'Latin America and Caribbean',
              'Djibouti':'Sub-Saharan Africa', 'Guyana':'Latin America and Caribbean',
              'Oman':'Middle East and North Africa', 'Qatar':'Middle East and North Africa',
              'Somalia':'Sub-Saharan Africa', 'Somaliland region':'Sub-Saharan Africa',
              'South Sudan':'Sub-Saharan Africa', 'Sudan':'Sub-Saharan Africa',
              'Suriname':'Latin America and Caribbean', 'Syria':'South Asia',
              'Trinidad and Tobago':'Latin America and Caribbean'}

## Application du dictionnaire region_indic au dataframe
for i, country in enumerate(whr['Country name']):
    if country in region_indic:
        whr.loc[i,'Regional indicator']=region_indic[country]
        
## Simplification du nom des colonnes
whr = whr.rename(columns={'Regional indicator': 'Region', 'Healthy life expectancy at birth': 'LifeExpectancy',
                          'Freedom to make life choices': 'Freedom', 'Perceptions of corruption': 'Corruption', 
                          'Country name':'Country', 'year':'Year',
                          'Social support':'SocialSupport', 'Log GDP per capita':'LogGDP',
                          'Positive affect':'PosAffect', 'Negative affect':'NegAffect'})

## Dataframe initial prête
print("\nDataFrame initial pret:\nAffichage des 5 1er lignes du dataframe whr")
print("whr a", len(whr), "lignes.")
whr.head()

Pays avec Region manquante: ['Angola' 'Belize' 'Bhutan' 'Central African Republic' 'Congo (Kinshasa)'
 'Cuba' 'Djibouti' 'Guyana' 'Oman' 'Qatar' 'Somalia' 'Somaliland region'
 'South Sudan' 'Sudan' 'Suriname' 'Syria' 'Trinidad and Tobago']

Liste des Region: ['South Asia' 'Central and Eastern Europe' 'Middle East and North Africa'
 nan 'Latin America and Caribbean' 'Commonwealth of Independent States'
 'North America and ANZ' 'Western Europe' 'Sub-Saharan Africa'
 'Southeast Asia' 'East Asia']

DataFrame initial pret:
Affichage des 5 1er lignes du dataframe whr
whr a 1949 lignes.

,Country,Year,Life Ladder,LogGDP,SocialSupport,LifeExpectancy,Freedom,Generosity,Corruption,PosAffect,NegAffect,Region
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258,South Asia
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237,South Asia
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275,South Asia
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267,South Asia
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268,South Asia

In [5]:
whr.to_csv("whr.csv", sep=';') # Enregistrement du dataframe

<hr>
<h3 style="color:#ae5a41;">Creation dataframe complémentaire</h3>
<hr>
1-Dataframe initial sans les NAs.<br>
2-DataFrame avec ajout unique de Democracy<br>
3-DataFrame avec ajout unique de Demography<br>
4-DataFrame avec ajout unique de Inequality<br>
5-DataFrame avec ajout unique de Religion<br>
6-DataFrame avec ajout unique de Corruption<br>
7-Regroupement de tous les dataframes
<hr>
<h4 style="color:#ae5a41;">1 - Dataframe sans les NA</h4>
<hr>

In [2]:
whr_NoNA = whr.dropna() #database without NA values

print("\nDataFrame pret:\nAffichage des 5 1er lignes du dataframe whr_NoNA")
print("whr_NoNA a", len(whr_NoNA), "lignes.")
whr_NoNA.head()

DataFrame pret:
Affichage des 5 1er lignes du dataframe whr_NoNA
whr_NoNA a 1708 lignes.

,Country,Year,Life Ladder,LogGDP,SocialSupport,LifeExpectancy,Freedom,Generosity,Corruption,PosAffect,NegAffect,Region
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258,South Asia
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237,South Asia
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275,South Asia
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267,South Asia
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268,South Asia

In [6]:
whr_NoNA.to_csv("whr_NoNA.csv", sep=';') # Enregistrement du dataframe

<hr>
<h4 style="color:#ae5a41;">2 - Dataframe avec le regime politic</h4>
<hr>
The Democracy Index is an index compiled by the Economist Intelligence Unit (EIU), the research division of the Economist Group, a UK-based private company. <br>
The index is self-described as intending to measure the state of democracy in 167 countries and territories, of which 166 are sovereign states and 164 are UN member states.<br>
The index is based on 60 indicators grouped in five different categories, measuring pluralism, civil liberties and political culture. <br>
The report categorises countries into four types: full democracies, flawed democracies, hybrid regimes and authoritarian regimes. <br>
The Economist published reports for 2006, 2008, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020 <br>
https://en.wikipedia.org/wiki/Democracy_Index

In [75]:
### INCORPORATION DE LA VARIABLE REGIME POLITIQUE DANS LE DATASET
politics = pd.read_csv('democracy_index.csv')
Democracy_based_on_whr=whr[['Country']].merge(politics[['Country','RegimeType2020']],on='Country',how='left').drop_duplicates().reset_index()

print("Pays avec Regime manquant:\n",Democracy_based_on_whr[Democracy_based_on_whr['RegimeType2020'].isna()]['Country'].unique()) # soit ça soit rien
print("\nListe des Regime:\n",Democracy_based_on_whr['RegimeType2020'].unique()) # soit ça soit rien

## Definition d'un dictionnaire avec les pays dont les regimes sont maquants
politics_indic={'Belize':'Hybrid regime', 'Congo (Brazzaville)':'Authoritarian',
                'Congo (Kinshasa)':'Authoritarian', 'Hong Kong S.A.R. of China':'Hybrid regime',
                'Kosovo':'Flawed democracy', 'Maldives':'Hybrid regime',
                'North Cyprus':'Flawed democracy', 'Palestinian Territories':'Hybrid regime',
                'Somalia':'Hybrid regime', 'Somaliland region':'Hybrid regime',
                'South Sudan':'Hybrid regime', 'Swaziland':'Hybrid regime',
                'Taiwan Province of China':'Full democracy'}

for i, country in enumerate(Democracy_based_on_whr['Country']):
    if country in politics_indic:
        Democracy_based_on_whr.loc[i,'RegimeType2020']=politics_indic[country]
        
## Simplification du nom des colonnes
Democracy_based_on_whr = Democracy_based_on_whr.rename(columns={'RegimeType2020': 'Regime'})
Democracy_based_on_whr = Democracy_based_on_whr[['Country','Regime']]

## Dataframe initial prête
print("\nDataFrame initial pret:\nAffichage des 5 1er lignes du dataframe whr_Democracy")
print("whr_Democracy a", len(whr_Democracy), "lignes.")
Democracy_based_on_whr.head()

Pays avec Regime manquant:
 ['Belize' 'Congo (Brazzaville)' 'Congo (Kinshasa)'
 'Hong Kong S.A.R. of China' 'Kosovo' 'Maldives' 'North Cyprus'
 'Palestinian Territories' 'Somalia' 'Somaliland region' 'South Sudan'
 'Swaziland' 'Taiwan Province of China']

Liste des Regime:
 ['Authoritarian' 'Flawed democracy' 'Hybrid regime' 'Full democracy' nan]

DataFrame initial pret:
Affichage des 5 1er lignes du dataframe whr_Democracy
whr_Democracy a 166 lignes.

       Country            Regime
0  Afghanistan     Authoritarian
1      Albania  Flawed democracy
2      Algeria     Authoritarian
3       Angola     Authoritarian
4    Argentina  Flawed democracy

In [76]:
Democracy_based_on_whr.to_csv("Democracy_based_on_whr.csv", sep=';') # Enregistrement du dataframe

<hr>
<h4 style="color:#ae5a41;">3 - Dataframe avec les données démographiques</h4>
<hr>

In [77]:
### Ajout données démographiques
demographics = pd.read_csv("demographics.csv")
demographics = demographics[['Country', 'Year', 'AreaInK2', 'Population', 
                            'PopAnnualGrowthRate','PopDensity', 'InfantMortalityRate']]

# Lost counrty
Country_whr_NoNA = whr_NoNA[['Country']].drop_duplicates()
Country_demographics = demographics[['Country']].drop_duplicates()
Country_demographics["check"] = "demographics"
Check=Country_demographics.merge(Country_whr_NoNA,on=['Country'],how='outer')
print ("\nMissing or mismatch countries between whr and demographics:\n",Check[Check['check'].isna()]['Country'].unique())

Country_whr_NoNA = whr_NoNA[['Country']].drop_duplicates()
Country_whr_NoNA["check"] = "NoNA"
Country_demographics = demographics[['Country']].drop_duplicates()
Check2=Country_whr_NoNA.merge(Country_demographics,on=['Country'],how='outer')
print ("\nMissing or mismatch countries between demographics and whr:\n",Check2[Check2['check'].isna()]['Country'].unique())

## 
demographics = demographics.replace({'Czechia':'Czech Republic',"Côte d'Ivoire":'Ivory Coast','Burma':'Myanmar',
                                     'Eswatini':'Swaziland','Taiwan':'Taiwan Province of China'})

#'Palestinian Territories' = 'Gaza Strip'+'West Bank'
#'Palestinian Territories' = 'Gaza Strip'+'West Bank'
demographics_Gaza_Strip = demographics[demographics["Country"]=="Gaza Strip"]
demographics_Gaza_Strip = demographics_Gaza_Strip.replace({'Gaza Strip':'Palestinian Territories'})
demographics_West_Bank = demographics[demographics["Country"]=="West Bank"]
demographics_West_Bank = demographics_West_Bank.replace({'West Bank':'Palestinian Territories'})
demographics_Palestinian = demographics_Gaza_Strip.append(demographics_West_Bank)

demographics_Palestinian1 = demographics_Palestinian[['Country','Year','AreaInK2','Population']].groupby(by=['Country','Year'], as_index=False).sum()
demographics_Palestinian1['PopDensity'] = demographics_Palestinian1['Population']/demographics_Palestinian1['AreaInK2']

demographics_Palestinian2 = demographics_Palestinian[['Country','Year','PopAnnualGrowthRate'
                                                      ,'InfantMortalityRate']].groupby(by=['Country','Year'], as_index=False).mean() #estimation

demographics_Palestinian=demographics_Palestinian1.merge(demographics_Palestinian2,on=['Country','Year'],how='inner').round({'InfantMortalityRate': 2,
                                                                                                                             'PopDensity':1})
demographics = demographics.append(demographics_Palestinian)

Demography_based_on_whr_NoNA=whr_NoNA[['Country','Year']].merge(demographics,on=['Country','Year'],how='inner')

print("\nPays avec valeurs manquantes AreaInK2:",Demography_based_on_whr_NoNA[Demography_based_on_whr_NoNA['AreaInK2']
                                                                   .isna()]['Country'].unique()) 
print("Pays avec valeurs manquantes Population:",Demography_based_on_whr_NoNA[Demography_based_on_whr_NoNA['Population']
                                                                .isna()]['Country'].unique()) # soit ça soit rien
print("Pays avec valeurs manquantes PopAnnualGrowthRate:",Demography_based_on_whr_NoNA[Demography_based_on_whr_NoNA['PopAnnualGrowthRate']
                                                                         .isna()]['Country'].unique()) 
print("Pays avec valeurs manquantes PopDensity:",Demography_based_on_whr_NoNA[Demography_based_on_whr_NoNA['PopDensity'].isna()]['Country'].unique()) 
print("Pays avec valeurs manquantes InfantMortalityRate:",Demography_based_on_whr_NoNA[Demography_based_on_whr_NoNA['InfantMortalityRate']
                                                                         .isna()]['Country'].unique()) 

print("Data maquantes:\n")
Demography_based_on_whr_NoNA[Demography_based_on_whr_NoNA["Country"]=="United States"]

Missing or mismatch countries between whr and demographics:
 ['Czech Republic' 'Ivory Coast' 'Myanmar' 'Palestinian Territories'
 'Swaziland' 'Taiwan Province of China']

Missing or mismatch countries between demographics and whr:
 ['American Samoa' 'Andorra' 'Anguilla' 'Antigua and Barbuda' 'Aruba'
 'Bahamas' 'Barbados' 'Bermuda' 'Brunei' 'Burma' 'Cabo Verde'
 'Cayman Islands' 'China' 'Cook Islands' 'Cuba' 'Curaçao' 'Czechia'
 "Côte d'Ivoire" 'Dominica' 'Equatorial Guinea' 'Eritrea' 'Eswatini'
 'Faroe Islands' 'Fiji' 'French Polynesia' 'Gaza Strip' 'Gibraltar'
 'Greenland' 'Grenada' 'Guam' 'Guernsey' 'Guinea-Bissau' 'Hong Kong'
 'Isle of Man' 'Jersey' 'Kiribati' 'North Korea' 'Kosovo' 'Liechtenstein'
 'Macau' 'Maldives' 'Marshall Islands' 'Monaco' 'Montserrat' 'Nauru'
 'New Caledonia' 'Northern Mariana Islands' 'Oman' 'Palau'
 'Papua New Guinea' 'Puerto Rico' 'Saint Barthelemy'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Martin'
 'Saint Pierre and Miquelon' 'Saint Vincent and the Grenadines' 'Samoa'
 'San Marino' 'Sao Tome and Principe' 'Seychelles' 'Sint Maarten'
 'Solomon Islands' 'Somalia' 'South Sudan' 'Taiwan' 'Timor-Leste' 'Tonga'
 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu' 'Vanuatu'
 'Wallis and Futuna' 'West Bank' 'Western Sahara']

Pays avec valeurs manquantes AreaInK2: []
Pays avec valeurs manquantes Population: []
Pays avec valeurs manquantes PopAnnualGrowthRate: ['United States']
Pays avec valeurs manquantes PopDensity: []
Pays avec valeurs manquantes InfantMortalityRate: ['United States']
Data maquantes:

,Country,Year,AreaInK2,Population,PopAnnualGrowthRate,PopDensity,InfantMortalityRate
1614,United States,2008,9150541,304093966,NaN,33.2,NaN
1615,United States,2009,9150541,306771529,NaN,33.5,NaN
1616,United States,2010,9150541,309321666,NaN,33.8,NaN
1617,United States,2011,9150541,311556874,0.72000,34.0,NaN
1618,United States,2012,9150541,313830990,0.73000,34.3,NaN
1619,United States,2013,9150541,315993715,0.69000,34.5,NaN
1620,United States,2014,9150541,318301008,0.73000,34.8,NaN
1621,United States,2015,9150541,320635163,0.73000,35.0,NaN
1622,United States,2016,9150541,322941311,0.72000,35.3,NaN
1623,United States,2017,9150541,324985539,0.63000,35.5,NaN
1624,United States,2018,9150541,326687501,0.52000,35.7,NaN
1625,United States,2019,9150541,328239523,0.48000,35.9,NaN
1626,United States,2020,9150541,332639102,0.71091,36.4,5.28

In [78]:
# Remplissage valeurs manquante United States 
# (Possibilité d'amélioration. On doit choisir si on fait sur NoNA ou sur le complet pour chaque nouvelle dataframe)
liste_infant_mort=[8.1,7.9,8,8.07,8.1,8.21,8.24,8.44,8.49,8.64,8.68,8.7]
liste_pop_grow=[0.9,0.9,0.8]
for i in range(1614,1626):
    Demography_based_on_whr_NoNA.loc[i,'InfantMortalityRate']=liste_infant_mort[i-1614]

for i in range(1614,1617):
    Demography_based_on_whr_NoNA.loc[i,'PopAnnualGrowthRate']=liste_pop_grow[i-1614]

## Dataframe initial prête
print("\nDataFrame initial pret:\nAffichage des 5 1er lignes du dataframe Demography_based_on_whr_NoNA")
print("Demography_based_on_whr_NoNA a", len(Demography_based_on_whr_NoNA), "lignes.")
Demography_based_on_whr_NoNA.head()

DataFrame initial pret:
Affichage des 5 1er lignes du dataframe Demography_based_on_whr_NoNA
Demography_based_on_whr_NoNA a 1708 lignes.

,Country,Year,AreaInK2,Population,PopAnnualGrowthRate,PopDensity,InfantMortalityRate
0,Afghanistan,2008,652230,27703539,3.268,42.5,131.62
1,Afghanistan,2009,652230,28480801,2.279,43.7,129.69
2,Afghanistan,2010,652230,29116851,2.139,44.6,127.79
3,Afghanistan,2011,652230,29752169,2.177,45.6,125.79
4,Afghanistan,2012,652230,30412510,2.213,46.6,123.82

In [79]:
Demography_based_on_whr_NoNA.to_csv("Demography_based_on_whr_NoNA.csv", sep=';') # Enregistrement du dataframe

<hr>
<h4 style="color:#ae5a41;"> 4-DataFrame avec ajout unique de Inequality</h4>
<hr>

In [85]:
## Ajout des données d'inégalités
# Coefficient de Gini
# https://worldpopulationreview.com/country-rankings/wealth-inequality-by-country
inequalities = pd.read_csv('inequalities.csv').sort_values(by=['Country'])

# Lost counrty
Country_whr_NoNA = whr_NoNA[['Country']].drop_duplicates()
Country_inequalities = inequalities[['Country']].drop_duplicates()
Country_inequalities["check"] = "inequalities"
Check=Country_inequalities.merge(Country_whr_NoNA,on=['Country'],how='outer')
print ("\nMissing or mismatch countries between whr and inequalities:\n",Check[Check['check'].isna()]['Country'].unique())

Country_whr_NoNA = whr_NoNA[['Country']].drop_duplicates()
Country_whr_NoNA["check"] = "NoNA"
Country_inequalities = inequalities[['Country']].drop_duplicates()
Check2=Country_whr_NoNA.merge(Country_inequalities,on=['Country'],how='outer')
print ("\nMissing or mismatch countries between inequalities and whr:\n",Check2[Check2['check'].isna()]['Country'].unique())

#Check missmatch and missing
inequalities = inequalities.replace({'Eswatini':'Swaziland'})

Inequality_based_on_whr_NoNA=whr_NoNA[['Country']].merge(inequalities,on=['Country'],how='inner').drop_duplicates().reset_index()
#a faire sur les colonnes a garde
Inequality_based_on_whr_NoNA = Inequality_based_on_whr_NoNA.drop(columns=['index', 'Pop21','Rank'])
Inequality_based_on_whr_NoNA

Missing or mismatch countries between whr and inequalities:
 ['Bahrain' 'Belize' 'Czech Republic' 'Gambia' 'Guinea' 'Kuwait' 'Libya'
 'Myanmar' 'North Macedonia' 'Palestinian Territories' 'Suriname'
 'Swaziland' 'Syria' 'Trinidad and Tobago']

Missing or mismatch countries between inequalities and whr:
 ['China' 'Eswatini' 'Falkland Islands' 'Faroe Islands' 'Fiji' 'Greenland'
 'Guinea-Bissau' 'Hong Kong S.A.R. of China' 'Macau' 'Maldives'
 'Papua New Guinea' 'Saint Lucia' 'Samoa' 'Sao Tome and Principe'
 'Seychelles' 'Solomon Islands' 'South Sudan' 'Timor-Leste' 'Tonga'
 'Turkmenistan' 'Tuvalu' 'Vanuatu']

         Country  GiniCoeff21
0    Afghanistan         29.4
1        Albania         33.2
2        Algeria         27.4
3         Angola         51.3
4      Argentina         41.4
..           ...          ...
137    Venezuela         39.0
138      Vietnam         35.7
139        Yemen         36.7
140       Zambia         57.1
141     Zimbabwe         44.3

[142 rows x 2 columns]

In [86]:
Inequality_based_on_whr_NoNA.to_csv("Inequality_based_on_whr_NoNA.csv", sep=';') # Enregistrement du dataframe

13 countries lost between this dataframe and whr_NoNA

<hr>
<h4 style="color:#ae5a41;">5-DataFrame avec ajout unique de Religion</h4>
<hr>

In [87]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests

### Ajout religion en prenant un tableau de wikipedia
page_religion = "https://fr.wikipedia.org/wiki/Liste_des_pays_par_religion"

table_class='wikitable sortable zebra jquery-tablesorter'
response=requests.get(page_religion)
print(response.status_code)
    
soup = BeautifulSoup(response.text, 'html.parser')
religion_table=soup.find('table', attrs={'class': 'wikitable sortable zebra'})

religion=pd.read_html(str(religion_table))

# convertir en dataframe
religion=pd.DataFrame(religion[0])

# Data Quality 
# 1) transformer pourcentages en nombre en 0.XX  
religion=religion.replace(['<0.1%'],['0'])
religion=religion.set_index('Pays')
liste=religion.columns
for col in liste:
    religion[col]=religion[col].apply(lambda x:str(x).split('%')[0])
    religion[col]=religion[col].astype('float')
    religion[col]=religion[col].apply(lambda x:x/100)
        
# 2) renommer colonne Pays en Country pour merger avec whr_NoNA  
religion=religion.reset_index()
religion=religion.rename(columns={'Pays':'Country'})

# 3) import table des pays anglais français pour traduire les pays de religion en anglais    
pays=pd.read_csv('sql-pays.csv')
pays=pays.drop(['1','4','AF','AFG'],axis=1)
pays.loc[0]=['Afghanistan','Afghanistan']
pays=pays.rename(columns={'Afghanistan':'fr','Afghanistan.1':'en'})
pays=pays.set_index('fr')

# 4) traduction des pays dans religion    
liste=religion['Country'].values
liste_en=[]
liste_bis=[]
for country in liste:
    if country in pays.index:
        liste_en.append(pays.loc[country,'en'])
        liste_bis.append(country)
    
religion=religion.replace(liste_bis,liste_en)

# Lost counrty
Country_whr_NoNA = whr_NoNA[['Country']].drop_duplicates()
Country_religion = religion[['Country']].drop_duplicates()
Country_religion["check"] = "religion"
Check=Country_religion.merge(Country_whr_NoNA,on=['Country'],how='outer')
print ("\nMissing or mismatch countries between whr and religion:\n",Check[Check['check'].isna()]['Country'].unique())

Country_whr_NoNA = whr_NoNA[['Country']].drop_duplicates()
Country_whr_NoNA["check"] = "NoNA"
Country_religion = religion[['Country']].drop_duplicates()
Check2=Country_whr_NoNA.merge(Country_religion,on=['Country'],how='outer')
print ("\nMissing or mismatch countries between religion and whr:\n",Check2[Check2['check'].isna()]['Country'].unique())

religion = religion.replace({'Albanie':'Albania', 'Biélorussie':'Belarus', 'République centrafricaine':'Central African Republic', 
                             'Republic of the Congo':'Congo (Brazzaville)','République démocratique du Congo':'Congo (Kinshasa)', 
                             'République tchèque':'Czech Republic', 'Dominica':'Dominican Republic', 'Salvador':'El Salvador',
                             'Irak':'Iraq', "Côte d'Ivoire":'Ivory Coast', 'Libye':'Libya', 'Moldavie':'Moldova', 
                             'Monténégro':'Montenegro', 'Birmanie':'Myanmar','Macédoine du Nord':'North Macedonia', 
                             'Palestine':'Palestinian Territories', 'Russie':'Russia', 'Arabie saoudite':'Saudi Arabia',
                             'Serbie':'Serbia', 'Corée du Sud':'South Korea', 'Syrie':'Syria', 'Taiwan':'Taiwan Province of China', 
                             'Tanzanie':'Tanzania','Émirats arabes unis':'United Arab Emirates', 'Viêt Nam':'Vietnam'})
print ("\nMismatch countries between religion and whr_NoNA corrigé\n")
# 5) Ajout religion à whr_NoNA
Religion_based_on_whr_NoNA=whr_NoNA[['Country']].merge(religion,on='Country',how='inner').drop_duplicates().reset_index()
Religion_based_on_whr_NoNA = Religion_based_on_whr_NoNA.drop(columns=['index'])
Religion_based_on_whr_NoNA

200

Missing or mismatch countries between whr and religion:
 ['Albania' 'Belarus' 'Central African Republic' 'Congo (Brazzaville)'
 'Congo (Kinshasa)' 'Czech Republic' 'Dominican Republic' 'El Salvador'
 'Iraq' 'Ivory Coast' 'Libya' 'Moldova' 'Montenegro' 'Myanmar'
 'North Macedonia' 'Palestinian Territories' 'Russia' 'Saudi Arabia'
 'Serbia' 'South Korea' 'Syria' 'Taiwan Province of China' 'Tanzania'
 'United Arab Emirates' 'Vietnam']

Missing or mismatch countries between religion and whr:
 ['Albanie' 'Samoa américaines' 'Andorra' 'Anguilla' 'Antigua and Barbuda'
 'Aruba' 'Bahamas' 'Barbados' 'Biélorussie' 'Bermuda'
 'Îles Vierges britanniques' 'Brunei' 'Cap-Vert' 'Îles Caïmans'
 'République centrafricaine' 'Îles Anglo-Normandes' 'China'
 'Republic of the Congo' 'République démocratique du Congo' 'Cook Islands'
 "Côte d'Ivoire" 'Cuba' 'République tchèque' 'Dominica'
 'République dominicaine' 'Salvador' 'Guinée équatoriale' 'Eritrea'
 'Faroe Islands' 'Malouines' 'Fiji' 'Guyane' 'Polynésie française'
 'Gibraltar' 'Greenland' 'Grenada' 'Guadeloupe' 'Guam' 'Guinea-Bissau'
 'Vatican' 'Hong Kong' 'Irak' 'Isle of Man' 'Kiribati' 'Kosovo' 'Libye'
 'Liechtenstein' 'Macao' 'Macédoine du Nord' 'Maldives' 'Marshall Islands'
 'Martinique' 'Mayotte' 'États fédérés de Micronésie' 'Moldavie' 'Monaco'
 'Monténégro' 'Montserrat' 'Birmanie' 'Nauru' 'New Caledonia' 'Niue'
 'Corée du Nord' 'Northern Mariana Islands' 'Oman' 'Palau' 'Palestine'
 'Papua New Guinea' 'Puerto Rico' 'La Réunion' 'Russie'
 'Sainte-Hélène, Ascension et Tristan da Cunha'
 'Saint-Christophe-et-Niévès' 'Saint Lucia' 'Saint-Pierre and Miquelon'
 'Saint-Vincent-et-les-Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Arabie saoudite' 'Serbie' 'Seychelles'
 'Solomon Islands' 'Somalia' 'Corée du Sud' 'Syrie' 'Taiwan' 'Tanzanie'
 'Timor oriental' 'Tokelau' 'Tonga' 'Turkmenistan'
 'Îles Turques-et-Caïques' 'Tuvalu' 'Émirats arabes unis'
 'U.S. Virgin Islands' 'Vanuatu' 'Viêt Nam' 'Wallis-et-Futuna'
 'Sahara occidental' 'Soudan du Sud' 'Curaçao' 'Saint-Martin'
 'Antilles néerlandaises']

Mismatch countries between religion and whr_NoNA corrigé

,Country,Christianisme,Islam,Sans-religion,Hindouisme,Bouddhisme,Religions traditionnelles,Autres,Judaisme
0,Afghanistan,0.001,0.997,0.000,0.000,0.000,0.000,0.000,0.000
1,Albania,0.180,0.803,0.014,0.000,0.000,0.000,0.002,0.000
2,Algeria,0.002,0.979,0.018,0.000,0.000,0.000,0.000,0.000
3,Angola,0.905,0.002,0.051,0.000,0.000,0.042,0.000,0.000
4,Argentina,0.852,0.010,0.122,0.000,0.000,0.008,0.003,0.005
...,...,...,...,...,...,...,...,...,...
150,Venezuela,0.893,0.003,0.100,0.000,0.000,0.002,0.000,0.000
151,Vietnam,0.082,0.002,0.296,0.000,0.164,0.453,0.004,0.000
152,Yemen,0.002,0.991,0.001,0.006,0.000,0.000,0.000,0.000
153,Zambia,0.976,0.005,0.005,0.001,0.000,0.003,0.009,0.000
154,Zimbabwe,0.870,0.009,0.079,0.000,0.000,0.038,0.003,0.000

In [88]:
Religion_based_on_whr_NoNA.to_csv("Religion_based_on_whr_NoNA.csv", sep=';') # Enregistrement du dataframe

<hr>
<h4 style="color:#ae5a41;">6-DataFrame avec ajout unique de Corruption</h4>
<hr>

In [108]:
### Ajout Corruption mesurée au niveau des administrations publiques depuis wikipedia ( 2 tableaux dan sla meme page)

# 1er tableau : de 2020 à 2012
page_corrup = "https://fr.wikipedia.org/wiki/Indice_de_perception_de_la_corruption"

table_class="wikitable sortable mw-collapsible jquery-tablesorter mw-made-collapsible"
response=requests.get(page_corrup)
print(response.status_code)   
soup = BeautifulSoup(response.text, 'html.parser')
corrup=soup.find('table', attrs={'class': 'wikitable sortable mw-collapsible'})

corrupt=pd.read_html(str(corrup))
corrupt=pd.DataFrame(corrupt[0])

# 2nd tableau de 2014 à 2002
tab=soup.findAll('table')

corrupt_2=pd.read_html(str(tab))[1].iloc[3:,:]
corrupt_2.columns=corrupt_2.iloc[0,:]
corrupt_2=corrupt_2.drop(3,axis=0)
corrupt_2=corrupt_2.iloc[:180,:]
corrupt_2=corrupt_2.loc[:176,:].set_index('Pays')

# Data Qauality
corrupt_2=corrupt_2.drop('2014',axis=1)

corrupt=corrupt.drop('Rang[N 1]',axis=1)
corrupt=corrupt.rename(columns={'Pays ou territoire':'Country','Indice 2020':'2020','Indice 2019':'2019','Indice 2017':'2017',
                                'Indice 2016':'2016','Indice 2015':'2015','Indice 2014':'2014','Indice 2013':'2013','Indice 2012':'2012'})

corrupt=corrupt.drop(['2014','2013','2012'],axis=1)

corrupt['2018']=(corrupt['2017']+corrupt['2019'])/2

corrupt_2=corrupt_2.reset_index()
corrupt_2=corrupt_2.rename(columns={'Pays':'Country','2014[9]':'2014','2013[10]':'2013','2012[11]':'2012','2011[12]':'2011','2010[13]':'2010',
                                    '2009[14]':'2009','2008[15]':'2008','2007[16]':'2007','2006[17]':'2006','2005[18]':'2005'})

corrupt_2=corrupt_2.drop(['2004[19]','2003','2002'],axis=1)

# merge des 2 tableaux
corruption=corrupt.merge(corrupt_2, on='Country',how='left')
corruption=corruption.set_index('Country')

# transformation car les années sont en colonnes
dico={'Country':'','Year':'','Corrup':''}
L=[]
K=[]
J=[]

for country in corruption.index:
    for year in corruption.columns:
        L.append(country)
        K.append(year)
        J.append(corruption.loc[country,year])
    
dico['Country']=L
dico['Year']=K
dico['Corrup']=J

corruptions=pd.DataFrame.from_dict(dico)
corruptions=corruptions.dropna()

corruptions[['Corrup','Year']]=corruptions[['Corrup','Year']].astype('int')

# tarduction des pays
liste=corruptions['Country'].values
liste_en=[]
liste_bis=[]
for country in liste:
    if country in pays.index:
        liste_en.append(pays.loc[country,'en'])
        liste_bis.append(country)
        
corruptions=corruptions.replace(liste_bis,liste_en)


corruptions = corruptions.replace({'Albanie':'Albania', 'Biélorussie':'Belarus', 'Bosnie-et-Herzégovine':'Bosnia and Herzegovina',
                                   'Centrafrique':'Central African Republic', 'Kirghizstan':'Kyrgyzstan',
                                   'Congo-Brazzaville':'Congo (Brazzaville)','Congo-Kinshasa':'Congo (Kinshasa)', 
                                   'Tchéquie':'Czech Republic', 'République dominicaine':'Dominican Republic', 'Salvador':'El Salvador',
                                   'Irak':'Iraq', "Côte d'Ivoire":'Ivory Coast','Libye':'Libya', 'Moldavie':'Moldova', 
                                   'Monténégro':'Montenegro', 'Birmanie (Myanmar)':'Myanmar','Macédoine du Nord':'North Macedonia', 
                                   'Russie':'Russia', 'Arabie saoudite':'Saudi Arabia',
                                   'Serbie':'Serbia', 'Corée du Sud':'South Korea', 'Syrie':'Syria', 'Taiwan':'Taiwan Province of China', 
                                   'Tanzanie':'Tanzania','Émirats arabes unis':'United Arab Emirates'})

print ("\nMismatch countries between religion and whr_NoNA corrigé\n")

# DataFrame avec ajout unique de corruption
Corrup_based_on_whr_NoNA=whr_NoNA[['Country','Year']].merge(corruptions,on=['Country','Year'],how='inner')
Corrup_based_on_whr_NoNA

200

Mismatch countries between religion and whr_NoNA corrigé

          Country  Year  Corrup
0     Afghanistan  2008      18
1     Afghanistan  2009      15
2     Afghanistan  2010      14
3     Afghanistan  2011      15
4     Afghanistan  2012       8
...           ...   ...     ...
1645     Zimbabwe  2016      22
1646     Zimbabwe  2017      22
1647     Zimbabwe  2018      23
1648     Zimbabwe  2019      24
1649     Zimbabwe  2020      24

[1650 rows x 3 columns]

In [109]:
# Lost counrty
Country_whr_NoNA = whr_NoNA[['Country']].drop_duplicates()
Country_corruptions = corruptions[['Country']].drop_duplicates()
Country_corruptions["check"] = "religion"
Check=Country_corruptions.merge(Country_whr_NoNA,on=['Country'],how='outer')
print ("\nMissing or mismatch countries between whr and corruptions:\n",Check[Check['check'].isna()]['Country'].unique())

Country_whr_NoNA = whr_NoNA[['Country']].drop_duplicates()
Country_whr_NoNA["check"] = "NoNA"
Country_corruptions = corruptions[['Country']].drop_duplicates()
Check2=Country_whr_NoNA.merge(Country_corruptions,on=['Country'],how='outer')
print ("\nMissing or mismatch countries between corruptions and whr:\n",Check2[Check2['check'].isna()]['Country'].unique())

Missing or mismatch countries between whr and corruptions:
 ['Belize' 'Palestinian Territories']

Missing or mismatch countries between corruptions and whr:
 ['Hong Kong' 'Seychelles' 'Barbados' 'Bahamas' 'Brunei'
 'Saint-Vincent-et-les-Grenadines' 'Cap-Vert' 'Saint Lucia' 'Dominica'
 'Oman' 'Grenada' 'Cuba' 'Sao Tome and Principe' 'Vanuatu' 'Maldives'
 'Solomon Islands' 'Chine (continentale)' 'Timor oriental' 'Kosovo'
 'Papua New Guinea' 'Eritrea' 'Turkmenistan' 'Guinea-Bissau'
 'Corée du Nord' 'Guinée équatoriale' 'Sud-Soudan' 'Somalia']

In [ ]:
Lost 'Belize': 2, 'Palestinian Territories':4 
1708 vs 1650
# année 2018 estimée

In [111]:
Corrup_based_on_whr_NoNA.to_csv("Corrup_based_on_whr_NoNA.csv", sep=';') # Enregistrement du dataframe

<hr>
<h4 style="color:#ae5a41;">7-Regroupement de tous les dataframes</h4>
<hr>

In [113]:
def merge_country(df1, df2):
    """
    Description : Merge two dataframes sur la colonne 'Country' avec la methode inner.
    """
    df_merged_country = df1.merge(df2,on=['Country'],how='inner')
    
    return df_merged_country

def merge_country_year(df1, df2):
    """
    Description : Merge two dataframes sur la colonne 'Country' avec la methode inner.
    """
    df_merged_country = df1.merge(df2,on=['Country', 'Year'],how='inner')
    
    return df_merged_country

#1-Dataframe initial sans les NAs. 2-DataFrame avec ajout unique de Democracy C
whr_NoNA_all_part = merge_country(whr_NoNA, Democracy_based_on_whr)
#3-DataFrame avec ajout unique de Demography
whr_NoNA_all_part = merge_country_year(whr_NoNA_all_part, Demography_based_on_whr_NoNA)
#5-DataFrame avec ajout unique de Religion C
whr_NoNA_all_part = merge_country(whr_NoNA_all_part, Religion_based_on_whr_NoNA)

#4-DataFrame avec ajout unique de Inequality perte C
whr_NoNA_all = merge_country(whr_NoNA_all_part, Inequality_based_on_whr_NoNA)
#6-DataFrame avec ajout unique de Corruption perte
whr_NoNA_all = merge_country_year(whr_NoNA_all, Corrup_based_on_whr_NoNA)

In [118]:
whr_NoNA_all_part.to_csv("whr_NoNA_all_part.csv", sep=';') # Enregistrement du dataframe
whr_NoNA_all.to_csv("whr_NoNA_all.csv", sep=';') # Enregistrement du dataframe

In [114]:
whr_NoNA_all_part

,Country,Year,Life Ladder,LogGDP,SocialSupport,LifeExpectancy,Freedom,Generosity,Corruption,PosAffect,...,PopDensity,InfantMortalityRate,Christianisme,Islam,Sans-religion,Hindouisme,Bouddhisme,Religions traditionnelles,Autres,Judaisme
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,...,42.5,131.62,0.001,0.997,0.000,0.0,0.0,0.000,0.000,0.0
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,...,43.7,129.69,0.001,0.997,0.000,0.0,0.0,0.000,0.000,0.0
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,...,44.6,127.79,0.001,0.997,0.000,0.0,0.0,0.000,0.000,0.0
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,...,45.6,125.79,0.001,0.997,0.000,0.0,0.0,0.000,0.000,0.0
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,...,46.6,123.82,0.001,0.997,0.000,0.0,0.0,0.000,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1703,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,...,35.2,33.54,0.870,0.009,0.079,0.0,0.0,0.038,0.003,0.0
1704,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,...,35.7,32.70,0.870,0.009,0.079,0.0,0.0,0.038,0.003,0.0
1705,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,...,36.3,31.89,0.870,0.009,0.079,0.0,0.0,0.038,0.003,0.0
1706,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,...,36.9,31.10,0.870,0.009,0.079,0.0,0.0,0.038,0.003,0.0
1707,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,...,37.6,30.32,0.870,0.009,0.079,0.0,0.0,0.038,0.003,0.0

In [115]:
whr_NoNA_all

,Country,Year,Life Ladder,LogGDP,SocialSupport,LifeExpectancy,Freedom,Generosity,Corruption,PosAffect,...,Christianisme,Islam,Sans-religion,Hindouisme,Bouddhisme,Religions traditionnelles,Autres,Judaisme,GiniCoeff21,Corrup
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,...,0.001,0.997,0.000,0.0,0.0,0.000,0.000,0.0,29.4,18
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,...,0.001,0.997,0.000,0.0,0.0,0.000,0.000,0.0,29.4,15
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,...,0.001,0.997,0.000,0.0,0.0,0.000,0.000,0.0,29.4,14
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,...,0.001,0.997,0.000,0.0,0.0,0.000,0.000,0.0,29.4,15
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,...,0.001,0.997,0.000,0.0,0.0,0.000,0.000,0.0,29.4,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,...,0.870,0.009,0.079,0.0,0.0,0.038,0.003,0.0,44.3,22
1582,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,...,0.870,0.009,0.079,0.0,0.0,0.038,0.003,0.0,44.3,22
1583,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,...,0.870,0.009,0.079,0.0,0.0,0.038,0.003,0.0,44.3,23
1584,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,...,0.870,0.009,0.079,0.0,0.0,0.038,0.003,0.0,44.3,24
1585,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,...,0.870,0.009,0.079,0.0,0.0,0.038,0.003,0.0,44.3,24

In [117]:
def utopia(df):
    """
    Description : Create an utopia country based on all the numeric values
    Input : dataframe with columns 'Country', 'Region', 'Year' and only numeric columns
    Output : dataframe utopia of the utopia country by Year with all the numeric values
    """
    df_utopia = df.drop(['Country','Region'], axis=1)
    df_utopia = df_utopia.groupby(by="Year",as_index=False).max()
    df_utopia['Country'] = 'Utopia' 
    df_utopia['Region'] = 'Topia' 
    
    return df_utopia

def distopia(df):
    """
    Description : Create an distopia country based on all the numeric values
    Input : dataframe with columns 'Country', 'Region', 'Year' and only numeric columns
    Output : dataframe distopia of the distopia country by Year with all the numeric values
    """
    df_distopia = df.drop(['Country','Region'], axis=1)
    df_distopia = df_distopia.groupby(by="Year",as_index=False).min()
    df_distopia['Country'] = 'Distopia' 
    df_distopia['Region'] = 'Topia' 

    return df_distopia

def topia(df):
    """
    Description : Add to a dataframe an distopia country and an utopia country based on all the numeric values
    Input : dataframe with columns 'Country', 'Region', 'Year' and only numeric columns
    Output : input dataframe with the utopia and disptopia countries added
    """
    df_utopia = utopia(df)
    df_distopia = distopia(df)
    df_topia = df.append(df_utopia)
    df_topia = df_topia.append(df_distopia)
    df_topia = df_topia.reset_index()
    df_topia = df_topia.drop(['index'], axis=1)
    
    return df_topia

In [119]:
whr_NoNA_all_part_topia = topia(whr_NoNA_all_part)

whr_NoNA_all_topia = topia(whr_NoNA_all)

whr_NoNA_all_part_topia.to_csv("whr_NoNA_all_part_topia.csv", sep=';') # Enregistrement du dataframe
whr_NoNA_all_topia.to_csv("whr_NoNA_all_topia.csv", sep=';') # Enregistrement du dataframe